.topnav {
  background-color: #333;
  position: absolute;
  top: 0%;
  width: 100%;
}

/* center a div (thank you tim) */
.center {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/* The Link components are anchor tags */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
