/* .eduResources {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #186ac9;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.title {
  text-align: center;
  color: aliceblue;
  font-size: 3em;
  padding-bottom: 20px;
}

.subtitle {
  text-align: center;
  color: aliceblue;
  font-size: 1.5em;

}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body, p, h1 {
  display: table-cell;
  vertical-align: middle;
} */
